@charset "UTF-8"; 
body {
    background-color: rgb(196, 231, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

h1 {
    color: rgb(226, 95, 43);

}

h2 {
    color: brown;

}

p {
    text-align: center;
}