@charset "UTF-8"; /* Sempre colocar, para não ter problema de compatibilidade ao usar a acentuação */

/* Agora vamos fazer as configurações globais ( * { )   */

* {
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
    background-image: linear-gradient(to right,#393E41, #57514A, #967D5A,#5A7F96, #FFDFB3 );
    }

    main {
        background-color: white;
        border-radius: 10px; /* arredonda a borda */
        box-shadow: 5px 5px 3px #393e41de;
        width: 600px;
        padding: 10px;
        margin: auto; /* automaticamente centraliza o texto na página, mesmo que ela seja aumentada ou diminuída */
    }
h1 {
    color: #5A7F96;
    text-align: center;
    text-shadow: 1px 1px 2px #496779ab ;
}

h2 {
    color:#967D5A
}
p {
    text-align: justify;
}

